In [1]:
import pandas as pd  # Import pandas and use shorthand notation pd to save on typing
from pandas import Series, DataFrame 
import numpy as np                            
import statsmodels.api as sm 
import scipy as sp
from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"

In [2]:
carsales = pd.read_excel(r"C:\Users\krish\OneDriveHarjot\OneDrive - Royal Holloway University of London\EVDataAnalysis\veh0203 (2).xlsx")
for col in carsales.columns: 
    print(col)

Year
Petrol
Diesel
Hybrid Electric 1
Plug-in Hybrid Electric 2
Battery Electric
Range-Extended Electric 3
Fuel Cell Electric 4
Gas 5
Other 6
Total

In [3]:
carsales.dropna(0)

,Year,Petrol,Diesel,Hybrid Electric 1,Plug-in Hybrid Electric 2,Battery Electric,Range-Extended Electric 3,Fuel Cell Electric 4,Gas 5,Other 6,Total
1,1994.0,19620.898,1576.196,0.000,0.000,0.093,0.000,0.000,1.788,0.228,21199.203
2,1995.0,19499.763,1891.271,0.000,0.000,0.074,0.000,0.000,2.857,0.138,21394.103
3,1996.0,20051.602,2181.634,0.000,0.000,0.094,0.000,0.000,4.085,0.123,22237.538
4,1997.0,20384.711,2440.508,0.000,0.000,0.116,0.000,0.000,6.241,0.122,22831.698
5,1998.0,20590.535,2692.904,0.000,0.000,0.151,0.000,0.000,9.632,0.110,23293.332
6,1999.0,21031.016,2929.873,0.000,0.000,0.195,0.000,0.000,13.776,0.077,23974.937
7,2000.0,21232.434,3152.708,0.182,0.000,0.221,0.000,0.000,19.963,0.041,24405.549
8,2001.0,21640.842,3459.544,0.770,0.000,0.272,0.000,0.000,24.379,0.060,25125.867
9,2002.0,21839.242,3912.371,1.094,0.000,0.326,0.000,0.003,28.834,0.061,25781.931
10,2003.0,21805.236,4399.607,1.484,0.000,0.349,0.000,0.004,33.647,0.077,26240.404
11,2004.0,21976.371,5010.581,3.037,0.000,0.399,0.000,0.006,37.613,0.092,27028.099
12,2005.0,21875.757,5596.099,8.314,0.000,0.564,0.000,0.008,39.541,0.115,27520.398
13,2006.0,21465.566,6083.316,16.907,0.000,0.807,0.000,0.008,42.403,0.164,27609.171
14,2007.0,21264.179,6657.383,32.055,0.000,1.192,0.000,0.007,45.126,0.322,28000.264
15,2008.0,20898.866,7163.504,47.036,0.000,1.325,0.000,0.008,49.594,0.369,28160.702
16,2009.0,20490.930,7641.419,61.344,0.000,1.454,0.000,0.008,50.920,0.395,28246.470
17,2010.0,20082.860,8202.683,82.059,0.313,1.545,0.000,0.008,50.950,0.459,28420.877
18,2011.0,19548.228,8763.495,102.037,0.527,2.612,0.004,0.005,49.947,0.434,28467.289
19,2012.0,19158.596,9385.119,123.959,1.097,4.068,0.518,0.011,48.666,0.419,28722.453
20,2013.0,18870.062,10064.151,151.272,1.686,6.167,0.892,0.011,46.273,0.423,29140.937
21,2014.0,18632.429,10730.906,182.381,7.871,12.111,2.157,0.016,43.213,0.405,29611.489
22,2015.0,18511.467,11428.857,221.822,23.822,20.466,3.780,0.026,39.650,0.404,30250.294
23,2016.0,18410.232,12052.146,268.542,49.096,29.081,5.505,0.034,35.421,0.383,30850.440
24,2017.0,18348.092,12360.237,332.701,78.507,41.218,7.693,0.068,31.296,0.370,31200.182
25,2018.0,18499.594,12397.636,411.686,115.531,55.335,9.541,0.104,27.827,0.343,31517.597

In [4]:
EV_carsales = carsales[["Year", "Hybrid Electric 1", "Plug-in Hybrid Electric 2", "Battery Electric", 
                           "Range-Extended Electric 3", "Fuel Cell Electric 4"]]
EV_carsales1 = EV_carsales.dropna(0)
EV_carsales1 = EV_carsales1.drop([1,2,3,4,5,6,7,8,9,10,11,12,13,14])
EV_carsales1 = EV_carsales1.astype({"Year":int})
EV_carsales1.set_index("Year")

,Hybrid Electric 1,Plug-in Hybrid Electric 2,Battery Electric,Range-Extended Electric 3,Fuel Cell Electric 4
Year,,,,,
2008,47.036,0.000,1.325,0.000,0.008
2009,61.344,0.000,1.454,0.000,0.008
2010,82.059,0.313,1.545,0.000,0.008
2011,102.037,0.527,2.612,0.004,0.005
2012,123.959,1.097,4.068,0.518,0.011
2013,151.272,1.686,6.167,0.892,0.011
2014,182.381,7.871,12.111,2.157,0.016
2015,221.822,23.822,20.466,3.780,0.026
2016,268.542,49.096,29.081,5.505,0.034
2017,332.701,78.507,41.218,7.693,0.068
2018,411.686,115.531,55.335,9.541,0.104

In [5]:
EV_carsales1["totalEvCarSales"] = EV_carsales1.iloc[:, 1:].sum(axis=1)
EV_carsales1

,Year,Hybrid Electric 1,Plug-in Hybrid Electric 2,Battery Electric,Range-Extended Electric 3,Fuel Cell Electric 4,totalEvCarSales
15,2008,47.036,0.000,1.325,0.000,0.008,48.369
16,2009,61.344,0.000,1.454,0.000,0.008,62.806
17,2010,82.059,0.313,1.545,0.000,0.008,83.925
18,2011,102.037,0.527,2.612,0.004,0.005,105.185
19,2012,123.959,1.097,4.068,0.518,0.011,129.653
20,2013,151.272,1.686,6.167,0.892,0.011,160.028
21,2014,182.381,7.871,12.111,2.157,0.016,204.536
22,2015,221.822,23.822,20.466,3.780,0.026,269.916
23,2016,268.542,49.096,29.081,5.505,0.034,352.258
24,2017,332.701,78.507,41.218,7.693,0.068,460.187
25,2018,411.686,115.531,55.335,9.541,0.104,592.197

In [6]:
Yvariable = []
Yvariable = EV_carsales1["totalEvCarSales"]
Yvariable

15     48.369
16     62.806
17     83.925
18    105.185
19    129.653
20    160.028
21    204.536
22    269.916
23    352.258
24    460.187
25    592.197
Name: totalEvCarSales, dtype: float64

In [7]:
#EV_carsales1["totalEvCarSales"]

In [8]:
#Yvariable = EV_carsales1[["Year", "totalEvCarSales"]]
#Yvariable.set_index("Year")
#sumEVsales = Yvariable["totalEvCarSales"].to_numpy()

In [9]:
df = pd.read_excel(r"C:\Users\krish\OneDriveHarjot\OneDrive - Royal Holloway University of London\EVDataAnalysis\table.4.1.2.xlsx")

In [10]:
df = df.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,28])
Fuel_prices = df.set_index("Year")

In [11]:
Fuel_prices.columns

Index(['Premium Unleaded ', 'Diesel'], dtype='object')

In [26]:
#Fuel_prices["EVsales"] = EV_carsales1["totalEvCarSales"].astype(float)
#Fuel_prices
#Yvariable["Premium Unleaded "]=  Fuel_prices["Premium Unleaded "].astype(float)
#Yvariable
Fuel_prices.concat("Yvariable")

AttributeError: 'DataFrame' object has no attribute 'concat'