In [3]:
import pandas as pd  # Import pandas and use shorthand notation pd to save on typing
from pandas import Series, DataFrame 
import numpy as np                            
import statsmodels.api as sm 
import scipy as sp
from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"

In [4]:
electricityPrices = pd.read_csv(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\electricityprices.csv")
electricityPrices['Year'] = electricityPrices['Month beginning'].str[-4:]
del electricityPrices['Month beginning']
electricityPrices = DataFrame({'Average Electricity Price': electricityPrices.groupby('Year')['Price'].mean().round(3)})
electricityPrices.index = electricityPrices.index.astype(int)
electricityPrices.head()

      Average Electricity Price
Year
2010                     44.959
2011                     48.203
2012                     45.210
2013                     50.796
2014                     42.432

In [5]:
busFares = pd.read_excel(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\busfares.xlsx")
busFares = busFares.drop(range(13))
busFares = busFares[['Year','Great Britain']]
busFares = busFares.set_index('Year')
busFares.columns = ['Bus Fare Cost']
busFares.head()

      Bus Fare Cost
Year
2008     113.356652
2009     123.078460
2010     128.952627
2011     135.192095
2012     143.355417

In [6]:
total = pd.concat([electricityPrices, busFares], axis=1)
total

      Average Electricity Price  Bus Fare Cost
Year
2008                        NaN     113.356652
2009                        NaN     123.078460
2010                     44.959     128.952627
2011                     48.203     135.192095
2012                     45.210     143.355417
2013                     50.796     150.127342
2014                     42.432     154.740813
2015                     40.745     159.710623
2016                     42.628     162.633562
2017                     46.312     165.564180
2018                     58.234     170.979316
2019                     43.743     176.332035
2020                     35.930            NaN

In [7]:
dict = {'Slow':[1325, 1611, 2126, 2448, 2228, 2451, 2743, 3293, 5947], 
        'Fast': [178,1193,3309,4734,5946,7143,8754,11459,16457], 
        'Rapid':[34,79,284,844,1710,2153,2663,4025,6212],
        'Ultra-rapid':[None,None,None,None,None,None,None,341,876]}
df = pd.DataFrame(dict, index=[2011,2012,2013,2014,2015,2016,2017,2018,2019])
df["Sum"] = df.sum(axis=1).astype(int)
df

      Slow   Fast  Rapid  Ultra-rapid    Sum
2011  1325    178     34          NaN   1537
2012  1611   1193     79          NaN   2883
2013  2126   3309    284          NaN   5719
2014  2448   4734    844          NaN   8026
2015  2228   5946   1710          NaN   9884
2016  2451   7143   2153          NaN  11747
2017  2743   8754   2663          NaN  14160
2018  3293  11459   4025        341.0  19118
2019  5947  16457   6212        876.0  29492

In [8]:
total['Charging Connectors'] = df['Sum']
total

      Average Electricity Price  Bus Fare Cost  Charging Connectors
Year
2008                        NaN     113.356652                  NaN
2009                        NaN     123.078460                  NaN
2010                     44.959     128.952627                  NaN
2011                     48.203     135.192095               1537.0
2012                     45.210     143.355417               2883.0
2013                     50.796     150.127342               5719.0
2014                     42.432     154.740813               8026.0
2015                     40.745     159.710623               9884.0
2016                     42.628     162.633562              11747.0
2017                     46.312     165.564180              14160.0
2018                     58.234     170.979316              19118.0
2019                     43.743     176.332035              29492.0
2020                     35.930            NaN                  NaN

In [23]:
import requests
import json
import numpy as np
import pandas as pd
import datetime
from datetime import timedelta

In [30]:
url = 'https://api.exchangeratesapi.io/history?start_at=2007-01-01&end_at=2009-01-02&base=GBP&symbols=USD'
EX_response = requests.get(url)
EX_dict = json.loads(EX_response.content)
#print(EX_dict['rates']['2008-01-01']['USD'])
print(EX_dict['rates'])

{'2008-07-10': {'USD': 1.9742349023}, '2007-02-05': {'USD': 1.9549270211}, '2007-11-14': {'USD': 2.0692567568}, '2007-10-16': {'USD': 2.0315865039}, '2008-02-08': {'USD': 1.9485767991}, '2007-01-08': {'USD': 1.9322537513}, '2007-09-28': {'USD': 2.0348737084}, '2007-07-31': {'USD': 2.0336795252}, '2008-10-08': {'USD': 1.7583557434}, '2007-11-01': {'USD': 2.083044483}, '2007-02-12': {'USD': 1.9463682115}, '2008-08-18': {'USD': 1.865753077}, '2008-06-17': {'USD': 1.9482628399}, '2007-06-29': {'USD': 2.0037091988}, '2007-10-11': {'USD': 2.0371592539}, '2007-03-13': {'USD': 1.9350021959}, '2007-03-02': {'USD': 1.9448877069}, '2007-01-17': {'USD': 1.9652888787}, '2007-03-28': {'USD': 1.9643855776}, '2007-05-23': {'USD': 1.9855755078}, '2007-12-31': {'USD': 2.007363469}, '2008-01-18': {'USD': 1.9615024729}, '2008-02-28': {'USD': 1.9860773626}, '2007-11-20': {'USD': 2.0616328523}, '2008-10-02': {'USD': 1.7661331301}, '2008-09-26': {'USD': 1.8420887071}, '2008-05-13': {'USD': 1.9492315445}, '2007-12-28': {'USD': 1.9994556342}, '2007-12-06': {'USD': 2.0256089074}, '2007-08-14': {'USD': 2.002209782}, '2008-08-06': {'USD': 1.95416956}, '2007-05-03': {'USD': 1.9937024019}, '2008-04-24': {'USD': 1.9760651629}, '2007-05-15': {'USD': 1.9767832372}, '2008-06-06': {'USD': 1.9567181031}, '2007-02-07': {'USD': 1.9722095672}, '2008-04-07': {'USD': 1.9880914677}, '2008-07-29': {'USD': 1.9886039886}, '2007-12-05': {'USD': 2.0376522702}, '2007-03-27': {'USD': 1.9656848306}, '2008-08-07': {'USD': 1.9520534982}, '2007-08-06': {'USD': 2.0316106741}, '2007-08-15': {'USD': 1.9890774908}, '2008-05-05': {'USD': 1.9689251146}, '2008-04-16': {'USD': 1.975933507}, '2008-08-15': {'USD': 1.8627798154}, '2008-05-30': {'USD': 1.9730279898}, '2008-07-31': {'USD': 1.9787058749}, '2007-10-25': {'USD': 2.0510284527}, '2008-07-11': {'USD': 1.9814803228}, '2008-07-23': {'USD': 1.9996189024}, '2007-08-28': {'USD': 2.0126675504}, '2007-12-12': {'USD': 2.0393274041}, '2008-12-17': {'USD': 1.5305644766}, '2007-09-26': {'USD': 2.0167023555}, '2007-03-26': {'USD': 1.9612626599}, '2008-03-17': {'USD': 2.0071274023}, '2007-06-01': {'USD': 1.9780640412}, '2007-04-10': {'USD': 1.9735410848}, '2008-08-19': {'USD': 1.8613823716}, '2008-08-05': {'USD': 1.9533329129}, '2007-02-28': {'USD': 1.9611074}, '2007-02-08': {'USD': 1.9588359469}, '2007-07-23': {'USD': 2.0580746035}, '2007-09-13': {'USD': 2.0280189712}, '2007-04-11': {'USD': 1.9767236299}, '2007-02-20': {'USD': 1.9523243725}, '2007-12-10': {'USD': 2.0455872133}, '2008-12-05': {'USD': 1.4614585737}, '2007-03-19': {'USD': 1.947017929}, '2007-01-23': {'USD': 1.9902319902}, '2008-01-21': {'USD': 1.9484695594}, '2008-05-22': {'USD': 1.9841319816}, '2007-05-07': {'USD': 1.995456544}, '2008-11-05': {'USD': 1.5957842529}, '2007-08-09': {'USD': 2.0277675209}, '2008-11-19': {'USD': 1.5044058109}, '2007-10-03': {'USD': 2.0406843013}, '2007-10-01': {'USD': 2.0408690041}, '2008-09-12': {'USD': 1.7666415473}, '2008-10-09': {'USD': 1.7329955668}, '2007-06-25': {'USD': 1.9986636971}, '2008-02-25': {'USD': 1.9659015523}, '2008-10-16': {'USD': 1.7258033604}, '2008-11-27': {'USD': 1.5434314429}, '2007-01-30': {'USD': 1.9645615629}, '2007-11-16': {'USD': 2.0455148342}, '2008-01-14': {'USD': 1.9598684211}, '2007-08-20': {'USD': 1.984975696}, '2008-06-11': {'USD': 1.960325984}, '2007-06-20': {'USD': 1.993023601}, '2008-05-26': {'USD': 1.9786579625}, '2008-01-16': {'USD': 1.9618037135}, '2008-01-23': {'USD': 1.9504817987}, '2008-04-02': {'USD': 1.9824984147}, '2008-05-23': {'USD': 1.9816213494}, '2007-03-14': {'USD': 1.9235427154}, '2008-03-12': {'USD': 2.0189146882}, '2008-11-03': {'USD': 1.6089848162}, '2008-10-07': {'USD': 1.7538758443}, '2008-12-29': {'USD': 1.4582801083}, '2007-06-28': {'USD': 2.0035706316}, '2007-03-07': {'USD': 1.9282149149}, '2007-11-12': {'USD': 2.0695578111}, '2007-11-22': {'USD': 2.0637394753}, '2008-09-30': {'USD': 1.8098190561}, '2008-09-15': {'USD': 1.7823540525}, '2008-04-25': {'USD': 1.9840977037}, '2007-10-23': {'USD': 2.0487243981}, '2007-06-12': {'USD': 1.974112426}, '2008-04-03': {'USD': 1.9823799796}, '2008-02-13': {'USD': 1.9627262329}, '2008-03-20': {'USD': 1.9816266221}, '2008-06-03': {'USD': 1.9711775488}, '2007-07-24': {'USD': 2.0624720441}, '2007-01-12': {'USD': 1.9486133152}, '2007-06-06': {'USD': 1.9921863482}, '2007-09-18': {'USD': 1.9946777906}, '2008-06-25': {'USD': 1.9728089035}, '2007-11-02': {'USD': 2.0830096389}, '2008-09-25': {'USD': 1.8560606061}, '2008-03-19': {'USD': 1.9966916911}, '2008-07-08': {'USD': 1.9746978852}, '2007-07-12': {'USD': 2.032728881}, '2008-07-04': {'USD': 1.9816641376}, '2008-02-07': {'USD': 1.9448671739}, '2008-08-20': {'USD': 1.8576561811}, '2008-11-18': {'USD': 1.502553141}, '2008-12-16': {'USD': 1.5320053715}, '2008-10-20': {'USD': 1.7396488045}, '2007-11-27': {'USD': 2.0700020875}, '2008-05-16': {'USD': 1.9473518879}, '2008-03-26': {'USD': 1.9934018526}, '2007-04-23': {'USD': 1.9995575221}, '2008-09-10': {'USD': 1.7573566085}, '2008-09-09': {'USD': 1.7613947696}, '2007-12-19': {'USD': 2.0048780488}, '2008-07-24': {'USD': 1.9869455006}, '2008-06-27': {'USD': 1.9875055215}, '2008-12-09': {'USD': 1.4737687981}, '2007-06-07': {'USD': 1.9837997054}, '2007-01-31': {'USD': 1.9531096871}, '2007-10-18': {'USD': 2.0485673352}, '2008-03-13': {'USD': 2.0340820057}, '2007-05-14': {'USD': 1.9798348798}, '2008-11-24': {'USD': 1.4997064694}, '2007-11-19': {'USD': 2.0510882497}, '2008-11-14': {'USD': 1.4741800419}, '2007-12-14': {'USD': 2.0272460528}, '2007-04-18': {'USD': 2.0045769969}, '2007-02-23': {'USD': 1.9626419605}, '2008-10-17': {'USD': 1.7293252484}, '2007-03-15': {'USD': 1.9371658733}, '2008-06-23': {'USD': 1.9608363338}, '2008-09-18': {'USD': 1.8255287009}, '2008-11-17': {'USD': 1.492484527}, '2007-12-27': {'USD': 1.991630651}, '2008-07-25': {'USD': 1.9946754564}, '2008-12-08': {'USD': 1.4858397873}, '2008-06-04': {'USD': 1.9572260187}, '2008-04-08': {'USD': 1.968146476}, '2007-07-20': {'USD': 2.0534067242}, '2008-08-29': {'USD': 1.8304347826}, '2008-06-02': {'USD': 1.9609602021}, '2008-11-26': {'USD': 1.5296830653}, '2007-01-04': {'USD': 1.9447989316}, '2007-07-19': {'USD': 2.0487732562}, '2007-01-18': {'USD': 1.9683168317}, '2008-03-25': {'USD': 1.9933422956}, '2007-04-27': {'USD': 1.9997068523}, '2007-06-08': {'USD': 1.966413788}, '2007-09-14': {'USD': 2.0111731844}, '2008-12-11': {'USD': 1.4900214229}, '2007-07-16': {'USD': 2.0369521839}, '2008-09-23': {'USD': 1.8528394441}, '2008-07-09': {'USD': 1.9728830582}, '2007-06-18': {'USD': 1.9819606683}, '2008-02-01': {'USD': 1.9863918351}, '2008-05-29': {'USD': 1.9769895754}, '2007-09-11': {'USD': 2.0323434284}, '2008-11-13': {'USD': 1.4836531628}, '2007-08-23': {'USD': 2.006504065}, '2008-12-24': {'USD': 1.4752975877}, '2008-02-14': {'USD': 1.9722222222}, '2007-02-06': {'USD': 1.9694435999}, '2008-10-13': {'USD': 1.7365673542}, '2008-11-20': {'USD': 1.4893718086}, '2008-04-22': {'USD': 1.9918729682}, '2007-07-10': {'USD': 2.0175684653}, '2008-11-10': {'USD': 1.5788120024}, '2007-10-29': {'USD': 2.0589455612}, '2007-10-04': {'USD': 2.0343161993}, '2008-03-10': {'USD': 2.0170940171}, '2007-07-06': {'USD': 2.0102018186}, '2007-09-07': {'USD': 2.0221467592}, '2008-11-25': {'USD': 1.500556369}, '2008-09-02': {'USD': 1.7855956701}, '2007-03-09': {'USD': 1.9328533647}, '2007-03-08': {'USD': 1.9301438215}, '2008-09-05': {'USD': 1.7604102311}, '2007-02-21': {'USD': 1.9543562296}, '2007-06-26': {'USD': 1.9995543341}, '2008-03-05': {'USD': 1.9773584906}, '2007-11-07': {'USD': 2.1043453402}, '2008-02-22': {'USD': 1.9671436142}, '2007-11-15': {'USD': 2.0478422047}, '2008-02-06': {'USD': 1.9572958501}, '2007-12-18': {'USD': 2.016646849}, '2008-07-30': {'USD': 1.9815685776}, '2008-12-19': {'USD': 1.5010229353}, '2007-09-21': {'USD': 2.0147712606}, '2007-07-30': {'USD': 2.0226565971}, '2008-09-29': {'USD': 1.8028646815}, '2007-04-04': {'USD': 1.9732505727}, '2007-10-10': {'USD': 2.0424487439}, '2008-10-15': {'USD': 1.7554596405}, '2007-08-13': {'USD': 2.0141645149}, '2007-07-03': {'USD': 2.0146644941}, '2007-02-26': {'USD': 1.9624217119}, '2007-11-29': {'USD': 2.0619797132}, '2007-05-04': {'USD': 1.9860867018}, '2007-09-05': {'USD': 2.0100591716}, '2007-09-24': {'USD': 2.0251112068}, '2007-10-26': {'USD': 2.0519258203}, '2007-11-21': {'USD': 2.058357649}, '2008-09-03': {'USD': 1.7756055576}, '2007-06-05': {'USD': 1.9949874687}, '2007-12-03': {'USD': 2.0635992683}, '2007-07-27': {'USD': 2.0313988095}, '2007-02-14': {'USD': 1.9545794113}, '2008-10-06': {'USD': 1.7642339545}, '2008-06-09': {'USD': 1.9794331578}, '2007-06-22': {'USD': 1.9970284526}, '2008-02-04': {'USD': 1.9766728872}, '2008-07-28': {'USD': 1.9868769716}, '2007-05-08': {'USD': 1.9929442893}, '2008-04-29': {'USD': 1.9736358451}, '2007-03-29': {'USD': 1.9655527749}, '2008-06-30': {'USD': 1.9897759546}, '2007-06-11': {'USD': 1.9686025943}, '2007-07-09': {'USD': 2.0140470206}, '2007-12-07': {'USD': 2.0340183282}, '2008-02-05': {'USD': 1.9687688493}, '2008-07-07': {'USD': 1.9654652769}, '2009-01-02': {'USD': 1.4428720083}, '2008-12-31': {'USD': 1.4611023622}, '2007-10-30': {'USD': 2.0664084911}, '2008-02-12': {'USD': 1.951147497}, '2008-01-11': {'USD': 1.9579086698}, '2007-02-19': {'USD': 1.9451933047}, '2008-06-16': {'USD': 1.9635462975}, '2008-08-01': {'USD': 1.9767722282}, '2007-04-19': {'USD': 2.0022081555}, '2007-09-10': {'USD': 2.0303186401}, '2007-10-19': {'USD': 2.0490463215}, '2008-09-17': {'USD': 1.788844872}, '2008-09-19': {'USD': 1.8082052585}, '2008-05-09': {'USD': 1.9473418997}, '2008-10-23': {'USD': 1.6180371353}, '2008-06-20': {'USD': 1.9768251757}, '2007-08-27': {'USD': 2.0153460233}, '2007-05-31': {'USD': 1.9782368943}, '2008-08-25': {'USD': 1.8537534522}, '2007-11-13': {'USD': 2.0727969349}, '2008-08-11': {'USD': 1.920552677}, '2007-01-19': {'USD': 1.973800457}, '2007-02-15': {'USD': 1.9573865753}, '2007-05-29': {'USD': 1.9872021183}, '2007-05-30': {'USD': 1.9749816041}, '2007-10-02': {'USD': 2.0416546555}, '2007-09-19': {'USD': 2.0002862664}, '2007-09-04': {'USD': 2.0112559242}, '2007-08-10': {'USD': 2.0166949841}, '2008-10-01': {'USD': 1.7781285516}, '2007-04-30': {'USD': 1.9928226161}, '2007-04-25': {'USD': 2.0042584435}, '2008-06-10': {'USD': 1.9570177097}, '2008-04-17': {'USD': 1.97979294}, '2007-03-05': {'USD': 1.917766051}, '2007-03-23': {'USD': 1.9662142225}, '2007-05-02': {'USD': 1.9920832722}, '2008-02-29': {'USD': 1.982096184}, '2008-02-21': {'USD': 1.9577520925}, '2007-05-11': {'USD': 1.9794510495}, '2007-08-21': {'USD': 1.983407973}, '2008-05-12': {'USD': 1.9560119161}, '2008-12-01': {'USD': 1.4981878676}, '2008-01-22': {'USD': 1.9516595974}, '2007-09-06': {'USD': 2.0181603425}, '2008-07-02': {'USD': 1.9876760563}, '2007-03-01': {'USD': 1.9631856305}, '2007-07-13': {'USD': 2.0328932812}, '2007-06-19': {'USD': 1.9866597495}, '2007-08-29': {'USD': 2.0128470171}, '2008-06-05': {'USD': 1.9503608965}, '2008-05-27': {'USD': 1.9774153074}, '2008-07-15': {'USD': 2.0099302369}, '2007-01-03': {'USD': 1.9610197125}, '2007-03-16': {'USD': 1.947529962}, '2007-02-13': {'USD': 1.9437271438}, '2007-06-13': {'USD': 1.9699036323}, '2008-08-27': {'USD': 1.8465674628}, '2007-01-24': {'USD': 1.9719484458}, '2008-04-30': {'USD': 1.9667151807}, '2008-08-26': {'USD': 1.8355337608}, '2007-11-26': {'USD': 2.0676927363}, '2008-06-24': {'USD': 1.9682660092}, '2007-07-04': {'USD': 2.0164359221}, '2008-10-27': {'USD': 1.5453305221}, '2007-08-02': {'USD': 2.0295581136}, '2008-02-20': {'USD': 1.9427359491}, '2007-07-18': {'USD': 2.0504464286}, '2007-07-05': {'USD': 2.018946122}, '2008-08-04': {'USD': 1.9662729742}, '2007-02-16': {'USD': 1.9490417471}, '2008-01-25': {'USD': 1.9804713805}, '2008-12-10': {'USD': 1.4801030633}, '2008-01-08': {'USD': 1.9751511081}, '2008-08-28': {'USD': 1.8355909034}, '2007-08-03': {'USD': 2.0338630625}, '2007-11-09': {'USD': 2.0963735009}, '2007-08-17': {'USD': 1.9808598351}, '2008-04-15': {'USD': 1.9664554603}, '2008-12-30': {'USD': 1.4471361117}, '2008-06-26': {'USD': 1.9863627754}, '2008-01-02': {'USD': 1.981384055}, '2008-07-14': {'USD': 1.9870846395}, '2007-04-20': {'USD': 2.0029442073}, '2008-09-11': {'USD': 1.754690845}, '2008-02-27': {'USD': 1.9857444562}, '2007-11-06': {'USD': 2.0875367726}, '2008-11-21': {'USD': 1.4984542212}, '2008-07-16': {'USD': 2.0011335726}, '2007-12-13': {'USD': 2.0411482588}, '2008-10-21': {'USD': 1.6967824968}, '2007-07-26': {'USD': 2.0456171735}, '2007-11-30': {'USD': 2.065775663}, '2008-07-03': {'USD': 1.9876126126}, '2008-04-09': {'USD': 1.9714178263}, '2007-08-08': {'USD': 2.0346633233}, '2007-06-27': {'USD': 1.9968794115}, '2007-01-26': {'USD': 1.9598936574}, '2008-01-10': {'USD': 1.9567596423}, '2008-05-28': {'USD': 1.9739015319}, '2007-01-10': {'USD': 1.9379289764}, '2008-07-01': {'USD': 1.9945631559}, '2007-04-05': {'USD': 1.9674856554}, '2008-03-28': {'USD': 1.9974709155}, '2008-01-30': {'USD': 1.9921980091}, '2007-03-06': {'USD': 1.9274626646}, '2007-02-02': {'USD': 1.9687003856}, '2008-04-28': {'USD': 1.9915891423}, '2007-01-25': {'USD': 1.9708428246}, '2007-01-15': {'USD': 1.965373225}, '2007-05-09': {'USD': 1.9908803413}, '2008-12-02': {'USD': 1.4991439872}, '2007-02-09': {'USD': 1.9484682795}, '2008-09-24': {'USD': 1.853978671}, '2007-08-01': {'USD': 2.0253483546}, '2007-01-29': {'USD': 1.9571342018}, '2008-09-22': {'USD': 1.8397727273}, '2007-08-31': {'USD': 2.0215355115}, '2007-05-18': {'USD': 1.9706097383}, '2008-10-24': {'USD': 1.5625852872}, '2008-07-17': {'USD': 2.0026535254}, '2007-08-16': {'USD': 1.9841622262}, '2007-08-30': {'USD': 2.0073746313}, '2008-05-20': {'USD': 1.9637117027}, '2008-08-21': {'USD': 1.8666834677}, '2007-05-24': {'USD': 1.9872912664}, '2007-01-02': {'USD': 1.9703043801}, '2007-08-24': {'USD': 2.005597702}, '2008-04-10': {'USD': 1.9816502309}, '2007-05-21': {'USD': 1.9693840182}, '2007-06-15': {'USD': 1.969672313}, '2008-10-03': {'USD': 1.7655542084}, '2007-10-24': {'USD': 2.0460100647}, '2007-10-05': {'USD': 2.0402684564}, '2008-09-01': {'USD': 1.8013922257}, '2008-03-18': {'USD': 2.0175259051}, '2007-12-11': {'USD': 2.0491620112}, '2007-09-20': {'USD': 2.0077275329}, '2008-04-01': {'USD': 1.9852941176}, '2007-04-03': {'USD': 1.9757432332}, '2007-01-09': {'USD': 1.9422603506}, '2008-12-04': {'USD': 1.4630187804}, '2007-09-03': {'USD': 2.0173140954}, '2007-09-25': {'USD': 2.0141357892}, '2008-01-09': {'USD': 1.9608628865}, '2008-02-19': {'USD': 1.9512905361}, '2007-01-22': {'USD': 1.975414217}, '2008-08-12': {'USD': 1.9004334523}, '2008-11-11': {'USD': 1.5646250153}, '2008-05-02': {'USD': 1.984338896}, '2008-05-06': {'USD': 1.9703083365}, '2008-12-22': {'USD': 1.4811280746}, '2007-09-17': {'USD': 1.9987037304}, '2008-01-17': {'USD': 1.9689070562}, '2008-01-28': {'USD': 1.9858681023}, '2008-03-07': {'USD': 2.0160847391}, '2008-08-13': {'USD': 1.8764794762}, '2008-09-08': {'USD': 1.7609018831}, '2007-12-21': {'USD': 1.9872857933}, '2007-02-27': {'USD': 1.9637820989}, '2007-06-14': {'USD': 1.9679017824}, '2007-11-23': {'USD': 2.0560916348}, '2007-03-22': {'USD': 1.9675779235}, '2007-07-17': {'USD': 2.0456030897}, '2007-04-16': {'USD': 1.9910366615}, '2008-12-18': {'USD': 1.5370701441}, '2007-05-17': {'USD': 1.9764568253}, '2007-03-12': {'USD': 1.9284667253}, '2008-09-16': {'USD': 1.7889655172}, '2008-10-30': {'USD': 1.648539269}, '2008-01-31': {'USD': 1.9887655477}, '2007-05-28': {'USD': 1.9826684155}, '2007-02-22': {'USD': 1.9505878851}, '2007-11-08': {'USD': 2.106427289}, '2008-01-03': {'USD': 1.9808002148}, '2008-05-14': {'USD': 1.941768331}, '2008-10-10': {'USD': 1.7016290727}, '2008-10-14': {'USD': 1.7607067409}, '2008-11-07': {'USD': 1.577834127}, '2007-04-12': {'USD': 1.9784045835}, '2008-12-12': {'USD': 1.4949291197}, '2008-08-14': {'USD': 1.8743870238}, '2008-04-21': {'USD': 1.9855126764}, '2008-10-29': {'USD': 1.6046745413}, '2008-03-11': {'USD': 2.0115100386}, '2007-03-30': {'USD': 1.9591056193}, '2008-04-04': {'USD': 2.0015276894}, '2008-01-04': {'USD': 1.9769112021}, '2008-05-08': {'USD': 1.9549073307}, '2007-05-16': {'USD': 1.9820398627}, '2008-10-31': {'USD': 1.6211716864}, '2007-04-13': {'USD': 1.9873696578}, '2007-11-28': {'USD': 2.0661295972}, '2007-06-04': {'USD': 1.9886422303}, '2007-12-20': {'USD': 1.9887733888}, '2008-05-21': {'USD': 1.9655624181}, '2008-03-06': {'USD': 2.005629746}, '2008-06-13': {'USD': 1.9453288514}, '2008-10-22': {'USD': 1.6295121487}, '2007-11-05': {'USD': 2.0810112037}, '2007-12-24': {'USD': 1.9801952964}, '2007-08-07': {'USD': 2.0268900154}, '2008-02-26': {'USD': 1.9737261146}, '2008-05-07': {'USD': 1.9565079566}, '2007-10-31': {'USD': 2.0718485587}, '2008-04-14': {'USD': 1.9871024293}, '2008-06-19': {'USD': 1.9688414091}, '2007-05-22': {'USD': 1.9734506784}, '2007-04-24': {'USD': 1.9994111585}, '2007-07-02': {'USD': 2.0111004218}, '2008-04-18': {'USD': 1.9957000126}, '2008-08-08': {'USD': 1.92245887}, '2008-11-04': {'USD': 1.5876160991}, '2008-03-04': {'USD': 1.9861546499}, '2007-10-17': {'USD': 2.0364262154}, '2008-07-18': {'USD': 1.9940742609}, '2007-04-26': {'USD': 1.9931100198}, '2007-03-21': {'USD': 1.958020327}, '2008-12-23': {'USD': 1.4807987711}, '2007-05-25': {'USD': 1.9839114391}, '2008-01-15': {'USD': 1.9677461996}, '2007-07-11': {'USD': 2.0316123791}, '2008-06-18': {'USD': 1.9529812177}, '2008-02-18': {'USD': 1.9506863921}, '2007-04-02': {'USD': 1.9769264902}, '2008-03-31': {'USD': 1.9869313898}, '2007-02-01': {'USD': 1.9688492364}, '2007-01-05': {'USD': 1.9392322514}, '2008-03-03': {'USD': 1.9847258486}, '2008-02-11': {'USD': 1.9488072903}, '2008-03-14': {'USD': 2.0273597811}, '2008-01-24': {'USD': 1.9633125795}, '2008-06-12': {'USD': 1.9485591507}, '2008-04-11': {'USD': 1.9749282774}, '2008-05-19': {'USD': 1.9529839519}, '2008-11-06': {'USD': 1.5863354037}, '2007-10-22': {'USD': 2.0309677419}, '2007-10-08': {'USD': 2.0381916817}, '2007-03-20': {'USD': 1.9578854366}, '2007-07-25': {'USD': 2.054106569}, '2007-06-21': {'USD': 1.9933045678}, '2008-07-21': {'USD': 1.9957211175}, '2007-10-15': {'USD': 2.0411794246}, '2008-04-23': {'USD': 1.9839442405}, '2008-11-28': {'USD': 1.53355826}, '2008-12-15': {'USD': 1.5021125195}, '2008-03-27': {'USD': 2.0163494699}, '2008-08-22': {'USD': 1.8589003264}, '2007-04-17': {'USD': 2.0034008576}, '2008-12-03': {'USD': 1.4768060837}, '2008-10-28': {'USD': 1.5698709111}, '2007-09-12': {'USD': 2.030861489}, '2008-09-04': {'USD': 1.7820418204}, '2007-10-12': {'USD': 2.0290622763}, '2008-01-07': {'USD': 1.9729313233}, '2007-12-04': {'USD': 2.0619667086}, '2008-02-15': {'USD': 1.9622893822}, '2007-05-10': {'USD': 1.9872190392}, '2007-01-11': {'USD': 1.9513074842}, '2008-07-22': {'USD': 2.0060487682}, '2008-05-15': {'USD': 1.9410436528}, '2007-10-09': {'USD': 2.0289080003}, '2007-09-27': {'USD': 2.0277420277}, '2008-11-12': {'USD': 1.5222937675}, '2008-01-29': {'USD': 1.9884245239}, '2007-01-16': {'USD': 1.9649575243}, '2007-08-22': {'USD': 1.9882118913}, '2007-12-17': {'USD': 2.0166736724}}