In [20]:
import pandas as pd  # Import pandas and use shorthand notation pd to save on typing
from pandas import Series, DataFrame 
import numpy as np                            
import statsmodels.api as sm 
import scipy as sp
from IPython.core.interactiveshell import InteractiveShell
import requests
import re
import json
from bs4 import BeautifulSoup
from ast import literal_eval
import seaborn as sn
import matplotlib.pyplot as plt
#InteractiveShell.ast_node_interactivity = "all"

In [21]:
carsales = pd.read_excel(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\EVDataAnalysis\veh0203 (2).xlsx")
carsales.dropna(0)
EV_carsales = carsales[["Year", "Hybrid Electric 1", "Plug-in Hybrid Electric 2", "Battery Electric", 
                           "Range-Extended Electric 3", "Fuel Cell Electric 4"]]
EV_carsales1 = EV_carsales.dropna(0)
EV_carsales1 = EV_carsales1.drop([1,2,3,4,5,6,7,8,9,10,11,12,13,14])
EV_carsales1 = EV_carsales1.astype({"Year":int})
EV_carsales1["totalEvCarSales"] = EV_carsales1.iloc[:, 1:].sum(axis=1)
EV_carsales1 = EV_carsales1.set_index("Year")
EV_carsales1

,Hybrid Electric 1,Plug-in Hybrid Electric 2,Battery Electric,Range-Extended Electric 3,Fuel Cell Electric 4,totalEvCarSales
Year,,,,,,
2008,47.036,0.000,1.325,0.000,0.008,48.369
2009,61.344,0.000,1.454,0.000,0.008,62.806
2010,82.059,0.313,1.545,0.000,0.008,83.925
2011,102.037,0.527,2.612,0.004,0.005,105.185
2012,123.959,1.097,4.068,0.518,0.011,129.653
2013,151.272,1.686,6.167,0.892,0.011,160.028
2014,182.381,7.871,12.111,2.157,0.016,204.536
2015,221.822,23.822,20.466,3.780,0.026,269.916
2016,268.542,49.096,29.081,5.505,0.034,352.258
2017,332.701,78.507,41.218,7.693,0.068,460.187
2018,411.686,115.531,55.335,9.541,0.104,592.197

In [22]:
EV_carsales1 = EV_carsales1.drop(['Hybrid Electric 1', 'Plug-in Hybrid Electric 2', 'Battery Electric', 'Range-Extended Electric 3', 'Fuel Cell Electric 4'], axis=1)
EV_carsales1

      totalEvCarSales
Year
2008           48.369
2009           62.806
2010           83.925
2011          105.185
2012          129.653
2013          160.028
2014          204.536
2015          269.916
2016          352.258
2017          460.187
2018          592.197

In [23]:
df = pd.read_excel(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\EVDataAnalysis\table.4.1.2.xlsx")
df = df.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,28])
Fuel_prices = df.set_index("Year").astype(int)
Fuel_prices = Fuel_prices.rename(columns={"Premium Unleaded ":"Premium Unleaded"})
Fuel_prices

      Premium Unleaded  Diesel
Year
2008               107     117
2009                99     103
2010               116     119
2011               133     138
2012               135     141
2013               134     140
2014               127     133
2015               111     114
2016               108     110
2017               117     120
2018               125     129

In [24]:
Variables_df = pd.concat([Fuel_prices, EV_carsales1], axis=1)
Variables_df

      Premium Unleaded  Diesel  totalEvCarSales
Year
2008               107     117           48.369
2009                99     103           62.806
2010               116     119           83.925
2011               133     138          105.185
2012               135     141          129.653
2013               134     140          160.028
2014               127     133          204.536
2015               111     114          269.916
2016               108     110          352.258
2017               117     120          460.187
2018               125     129          592.197

In [25]:
disposable_income = pd.read_csv(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\EVDataAnalysis\MWB7-100420.csv")
disposable_income = disposable_income.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,29])
disposable_income = disposable_income.rename(columns={"Title":"Year" , "UK Real net national disposable income per capita CVM SA":"Disposable income"})
disposable_income = disposable_income.set_index("Year")
disposable_income.index = disposable_income.index.astype(int)
disposable_income

     Disposable income
Year
2008             24271
2009             22967
2010             23471
2011             23574
2012             23383
2013             23565
2014             24237
2015             24681
2016             24956
2017             25465
2018             25674

In [26]:
Variables_df = pd.concat([Variables_df, disposable_income], axis=1)
Variables_df

      Premium Unleaded  Diesel  totalEvCarSales Disposable income
Year
2008               107     117           48.369             24271
2009                99     103           62.806             22967
2010               116     119           83.925             23471
2011               133     138          105.185             23574
2012               135     141          129.653             23383
2013               134     140          160.028             23565
2014               127     133          204.536             24237
2015               111     114          269.916             24681
2016               108     110          352.258             24956
2017               117     120          460.187             25465
2018               125     129          592.197             25674

In [27]:
df = pd.read_excel(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\EVDataAnalysis\GBP_to_USD_exchange_rate.xlsx")
df = df.rename(columns=df.iloc[0])
ExRate = df.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,34,35])
ExRate = ExRate.set_index("Year")
ExRate

     Average Year Open Year High Year Low Year Close  Annual
Year
2008    1.85      1.98      2.03     1.44       1.46 -0.2626
2009    1.57      1.45       1.7     1.37       1.62  0.1096
2010    1.55      1.61      1.64     1.43       1.54 -0.0494
2011     1.6      1.55      1.67     1.54       1.55  0.0065
2012    1.59      1.57      1.63     1.53       1.63  0.0516
2013    1.56      1.63      1.66     1.48       1.66  0.0184
2014    1.65      1.64      1.72     1.55       1.56 -0.0602
2015    1.53      1.54      1.59     1.46       1.47 -0.0577
2016    1.35      1.47      1.49     1.21       1.23 -0.1605
2017    1.29      1.23      1.36      1.2       1.35  0.0951
2018    1.33      1.35      1.43     1.25       1.27 -0.0567

In [28]:
Variables_df["GBP/USD exchange rate"] = ExRate["Average"]
Variables_df

,Premium Unleaded,Diesel,totalEvCarSales,Disposable income,GBP/USD exchange rate
Year,,,,,
2008,107,117,48.369,24271,1.85
2009,99,103,62.806,22967,1.57
2010,116,119,83.925,23471,1.55
2011,133,138,105.185,23574,1.6
2012,135,141,129.653,23383,1.59
2013,134,140,160.028,23565,1.56
2014,127,133,204.536,24237,1.65
2015,111,114,269.916,24681,1.53
2016,108,110,352.258,24956,1.35
2017,117,120,460.187,25465,1.29
2018,125,129,592.197,25674,1.33

In [29]:
WorldbankPL = requests.get("http://api.worldbank.org/v2/sources/2/country/gbr/series/NY.GDP.PCAP.CD?end=2018&locations=GB&start=2008&format=json")
print(WorldbankPL.status_code)

PL_dict = json.loads(WorldbankPL.content)
data = PL_dict['source']['data']
filtered = []
for d in data:
    for i in range(2008,2019):
        if d['variable'][2]['value'] == str(i):
            filtered.append(d)
print(filtered)

200
[{'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2018', 'value': '2018'}], 'value': 42943.9022698053}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2017', 'value': '2017'}], 'value': 40361.4173832159}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2016', 'value': '2016'}], 'value': 41074.1672796521}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2015', 'value': '2015'}], 'value': 44966.1019252665}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2014', 'value': '2014'}], 'value': 47417.6350484639}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2013', 'value': '2013'}], 'value': 43444.5648427389}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2012', 'value': '2012'}], 'value': 42462.7149069427}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2011', 'value': '2011'}], 'value': 42038.5004790349}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2010', 'value': '2010'}], 'value': 39435.8399018505}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2009', 'value': '2009'}], 'value': 38713.1374283353}, {'variable': [{'concept': 'Country', 'id': 'GBR', 'value': 'United Kingdom'}, {'concept': 'Series', 'id': 'NY.GDP.PCAP.CD', 'value': 'GDP per capita (current US$)'}, {'concept': 'Time', 'id': 'YR2008', 'value': '2008'}], 'value': 47286.9984928367}]

In [30]:
Gdp_percap = []
for c in filtered:
    Gdp_percap.append(c['value'])
    Gdp_percap.reverse()
    
Gdp_percap = np.round(Gdp_percap, decimals=2)
Gdp_percap

array([47287.  , 39435.84, 42462.71, 47417.64, 41074.17, 42943.9 ,
       40361.42, 44966.1 , 43444.56, 42038.5 , 38713.14])

In [31]:
Variables_df["GDP per capita in ($)"] = Gdp_percap
Variables_df = Variables_df.round(2)
Variables_df

,Premium Unleaded,Diesel,totalEvCarSales,Disposable income,GBP/USD exchange rate,GDP per capita in ($)
Year,,,,,,
2008,107,117,48.37,24271,1.85,47287.00
2009,99,103,62.81,22967,1.57,39435.84
2010,116,119,83.92,23471,1.55,42462.71
2011,133,138,105.18,23574,1.6,47417.64
2012,135,141,129.65,23383,1.59,41074.17
2013,134,140,160.03,23565,1.56,42943.90
2014,127,133,204.54,24237,1.65,40361.42
2015,111,114,269.92,24681,1.53,44966.10
2016,108,110,352.26,24956,1.35,43444.56
2017,117,120,460.19,25465,1.29,42038.50
2018,125,129,592.20,25674,1.33,38713.14

In [32]:
Gvt_subsidy = [0, 0, 0, 5000, 5000, 5000, 5000, 5000, 4500, 4500, 3500]

Variables_df["Government EV subsidy in (£)"] = Gvt_subsidy
Variables_df

,Premium Unleaded,Diesel,totalEvCarSales,Disposable income,GBP/USD exchange rate,GDP per capita in ($),Government EV subsidy in (£)
Year,,,,,,,
2008,107,117,48.37,24271,1.85,47287.00,0
2009,99,103,62.81,22967,1.57,39435.84,0
2010,116,119,83.92,23471,1.55,42462.71,0
2011,133,138,105.18,23574,1.6,47417.64,5000
2012,135,141,129.65,23383,1.59,41074.17,5000
2013,134,140,160.03,23565,1.56,42943.90,5000
2014,127,133,204.54,24237,1.65,40361.42,5000
2015,111,114,269.92,24681,1.53,44966.10,5000
2016,108,110,352.26,24956,1.35,43444.56,4500
2017,117,120,460.19,25465,1.29,42038.50,4500
2018,125,129,592.20,25674,1.33,38713.14,3500

In [33]:
oil_volume = pd.read_excel(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\EVDataAnalysis\Oil_Production___Trade_since_1890.xls")
oil_volume = oil_volume.rename(columns={"Unnamed: 0":"Year"})
oil_volume = oil_volume.dropna(how = 'all')
oil_volume = oil_volume.astype({"Year":int}).set_index("Year")
oil_volume

,Imports,Total Indeginous production,Landward Indeginous production,Feed stocks (7),Exports,Refinery throughput,Refinery output (4,Exports.1,Imports.1,Inland deliveries (4),Crude oil thousand tonnes,Oil products (5),Total (5),imports to ref throughput ratio,production to ref. throughput,to indigenous production,inland deliveries percentage,Unnamed: 18
Year,,,,,,,,,,,,,,,,,,
1890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.151568,452.442641,NaN,NaN,-448.291073,NaN,NaN,NaN,NaN,NaN,1890.0
1891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.561568,506.462641,NaN,NaN,-501.901073,NaN,NaN,NaN,NaN,NaN,1891.0
1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.971568,560.482641,NaN,NaN,-555.511073,NaN,NaN,NaN,NaN,NaN,1892.0
1893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.381568,614.502641,NaN,NaN,-609.121073,NaN,NaN,NaN,NaN,NaN,1893.0
1894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.791568,668.522641,NaN,NaN,-662.731073,NaN,NaN,NaN,NaN,NaN,1894.0
1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.201568,722.542641,NaN,NaN,-716.341073,NaN,NaN,NaN,NaN,NaN,1895.0
1896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.611568,776.562641,NaN,NaN,-769.951073,NaN,NaN,NaN,NaN,NaN,1896.0
1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.021568,830.582641,NaN,NaN,-823.561073,NaN,NaN,NaN,NaN,NaN,1897.0
1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.431568,884.602641,NaN,NaN,-877.171073,NaN,NaN,NaN,NaN,NaN,1898.0
1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.841568,938.622641,NaN,NaN,-930.781073,NaN,NaN,NaN,NaN,NaN,1899.0
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.272654,992.558954,NaN,NaN,-984.286300,NaN,NaN,NaN,NaN,NaN,1900.0
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.362654,1033.308954,NaN,NaN,-1021.946300,NaN,NaN,NaN,NaN,NaN,1901.0
1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.452654,1074.058954,NaN,NaN,-1059.606300,NaN,NaN,NaN,NaN,NaN,1902.0
1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.542654,1114.808954,NaN,NaN,-1097.266300,NaN,NaN,NaN,NaN,NaN,1903.0
1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.632654,1155.558954,NaN,NaN,-1134.926300,NaN,NaN,NaN,NaN,NaN,1904.0
1905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.722654,1196.308954,NaN,NaN,-1172.586300,NaN,NaN,NaN,NaN,NaN,1905.0
1906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.812654,1237.058954,NaN,NaN,-1210.246300,NaN,NaN,NaN,NaN,NaN,1906.0
1907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.902654,1277.808954,NaN,NaN,-1247.906300,NaN,NaN,NaN,NaN,NaN,1907.0
1908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.992654,1318.558954,NaN,NaN,-1285.566300,NaN,NaN,NaN,NaN,NaN,1908.0
1909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.082654,1359.308954,NaN,NaN,-1323.226300,NaN,NaN,NaN,NaN,NaN,1909.0
1910,0.761019,NaN,NaN,NaN,0.078236,NaN,NaN,39.230587,1400.103498,NaN,NaN,-1360.872910,NaN,NaN,NaN,NaN,NaN,1910.0
1911,2.381019,NaN,NaN,NaN,0.168236,NaN,NaN,60.910587,1603.693498,NaN,NaN,-1542.782910,NaN,NaN,NaN,NaN,NaN,1911.0
1912,4.001019,NaN,NaN,NaN,0.258236,NaN,NaN,82.590587,1807.283498,NaN,NaN,-1724.692910,NaN,NaN,NaN,NaN,NaN,1912.0
1913,5.621019,NaN,NaN,NaN,0.348236,NaN,NaN,104.270587,2010.873498,NaN,NaN,-1906.602910,NaN,NaN,NaN,NaN,NaN,1913.0
1914,7.241019,NaN,NaN,NaN,0.438236,NaN,NaN,125.950587,2214.463498,NaN,NaN,-2088.512910,NaN,NaN,NaN,NaN,NaN,1914.0
1915,8.861019,NaN,NaN,NaN,0.528236,NaN,NaN,147.630587,2418.053498,NaN,NaN,-2270.422910,NaN,NaN,NaN,NaN,NaN,1915.0
1916,10.481019,NaN,NaN,NaN,0.618236,NaN,NaN,169.310587,2621.643498,NaN,NaN,-2452.332910,NaN,NaN,NaN,NaN,NaN,1916.0
1917,12.101019,NaN,NaN,NaN,0.708236,NaN,NaN,190.990587,2825.233498,NaN,NaN,-2634.242910,NaN,NaN,NaN,NaN,NaN,1917.0
1918,13.721019,NaN,NaN,NaN,0.798236,NaN,NaN,212.670587,3028.823498,NaN,NaN,-2816.152910,NaN,NaN,NaN,NaN,NaN,1918.0
1919,15.341019,NaN,NaN,NaN,0.888236,NaN,NaN,234.350587,3232.413498,NaN,NaN,-2998.062910,NaN,NaN,NaN,NaN,NaN,1919.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,49500.000000,91710.000000,722.000000,NaN,51664.000000,87669.000000,81392.000000,16683.000000,9479.000000,73028.000000,2164.000000,7204.000000,9368.000000,0.565000,1.046000,0.563000,13.000000,1989.0
1990,52710.000000,91604.000000,1758.000000,NaN,56999.000000,88692.000000,82286.000000,16899.000000,11005.000000,73943.000000,4289.000000,5894.000000,10183.000000,0.594000,1.033000,0.622000,14.900000,1990.0
1991,57084.000000,91261.000000,3703.000000,NaN,55131.000000,92001.000000,85476.000000,19351.000000,10140.000000,74506.000000,-1953.000000,9211.000000,7258.000000,0.620000,0.992000,0.604000,13.600000,1991.0
1992,57683.000000,94251.000000,3962.000000,NaN,57627.000000,92334.000000,85783.000000,20250.000000,10567.000000,75470.000000,-56.000000,9683.000000,9627.000000,0.625000,1.021000,0.611000,14.000000,1992.0
1993,61701.000000,100189.000000,3737.000000,NaN,64415.000000,96273.000000,89584.000000,23031.000000,10064.000000,75790.000000,2714.000000,12967.000000,15681.000000,0.641000,1.041000,0.643000,13.300000,1993.0
1994,53096.000000,126542.000000,4649.000000,NaN,82393.000000,93161.000000,86644.000000,22156.000000,10441.000000,74957.000000,29297.000000,11715.000000,41012.000000,0.570000,1.359000,0.651000,13.900000,1994.0
1995,48749.000000,129894.000000,5051.000000,NaN,84577.000000,92743.000000,86133.000000,24419.940000,9878.901000,73694.000000,35828.000000,14541.039000,50369.039000,0.526000,1.401000,0.651000,13.400000,1995.0
1996,50099.000000,129742.000000,5251.000000,NaN,81563.000000,96660.000000,89885.000000,26018.000000,9310.000000,75390.000000,31464.000000,16708.000000,48172.000000,0.518000,1.342000,0.629000,12.100000,1996.0
1997,49994.000000,128234.000000,4981.000000,NaN,79400.000000,97023.000000,90366.000000,29118.393000,8706.000000,72501.000000,29406.000000,20412.393000,49818.393000,0.515000,1.322000,0.619000,12.000000,1997.0
1998,47958.000000,132633.000000,5161.000000,NaN,84610.000000,93797.000000,86615.000000,24375.000000,11418.000000,72261.000000,36652.000000,12957.000000,49609.000000,0.511296,1.414043,0.637926,15.801055,1998.0
1999,44869.000000,137099.000000,4285.000000,NaN,91797.000000,88286.000000,81195.000000,21730.000000,13896.000000,72436.000000,46928.000000,7834.000000,54762.000000,0.508223,1.552896,0.669567,19.183831,1999.0
2000,54386.297000,126245.000000,3247.000000,NaN,92917.188309,88013.257000,81129.547931,20676.628400,14212.136048,71944.455262,38530.891309,6464.492352,44995.383661,0.617933,1.434386,0.736007,19.754317,2000.0
2001,53551.432000,116678.386003,2921.000000,NaN,86929.740816,83342.828000,77050.682841,19087.687877,17233.960472,71354.361143,33378.308816,1853.727405,35232.036221,0.642544,1.399981,0.745037,24.152638,2001.0
2002,56967.916000,115944.252544,2673.000000,NaN,87143.713759,84783.909000,78318.774797,23444.228168,14900.405499,70556.585905,30175.797759,8543.822669,38719.620427,0.671919,1.367527,0.751600,21.118377,2002.0
2003,54177.326267,106072.932709,2198.000000,NaN,74897.753445,84585.014900,79072.584390,23322.859907,16472.026421,71697.497010,20720.427178,6850.833486,27571.260664,0.640507,1.254039,0.706097,22.974340,2003.0
2004,62516.781066,95374.015401,1938.000000,NaN,64503.992199,89820.591586,84410.697341,30494.572993,18544.719853,73648.839713,1987.211132,11949.853140,13937.064272,0.696018,1.061828,0.676327,25.179921,2004.0
2005,58885.133029,84721.128702,1648.000000,NaN,54098.713059,86134.258070,80146.181146,29721.909360,22480.787352,75496.326072,-4786.419969,7241.122009,2454.702039,0.683644,0.983594,0.638550,29.777326,2005.0
2006,59443.155924,76577.836697,1380.000000,NaN,50194.619950,83213.115018,77960.919156,28945.018348,26836.046170,74895.851905,-9248.535974,2108.972178,-7139.563796,0.714348,0.920262,0.655472,35.831396,2006.0
2007,57356.736798,76575.100252,1270.769460,NaN,50999.366046,81477.216793,76508.875210,29983.019910,25109.511138,72747.995386,-6357.370752,4873.508772,-1483.861980,0.703960,0.939835,0.666005,34.518471,2007.0
2008,60334.860264,71788.836080,1247.700000,NaN,48235.355285,81033.596243,75857.968079,28803.220997,23740.975608,70264.105432,-12099.504978,5062.245389,-7037.259590,0.744566,0.885914,0.671906,33.788199,2008.0
2009,55002.260848,68198.546716,1181.000000,NaN,45350.740496,75550.561392,70523.413886,25491.252840,22172.387886,67059.589850,-9651.520352,3318.864953,-6332.655398,0.728019,0.902687,0.664981,33.063709,2009.0
2010,55064.002099,62961.614280,941.000000,NaN,42064.156529,73542.843635,68599.250187,26065.255942,23665.091188,66295.009486,-12999.845570,2400.164755,-10599.680816,0.748734,0.856122,0.668092,35.696640,2010.0
2011,58092.299344,51972.425352,678.000000,NaN,33624.676742,75080.275329,70121.940765,27800.407337,22655.578581,64243.216193,-24467.622601,5144.828757,-19322.793845,0.773736,0.692225,0.646971,35.265324,2011.0
2012,60475.714323,44560.807430,870.000000,NaN,30946.226144,71839.108242,67330.880779,29904.335920,26206.686659,63047.780925,-29529.488179,3697.649261,-25831.838917,0.841822,0.620286,0.694472,41.566390,2012.0
2013,58966.737730,41100.801028,1003.300000,454.407087,33105.165143,65971.893927,61638.099861,26909.697690,28417.542908,62397.027004,-25861.572588,-1507.845218,-27369.417806,0.893816,0.623005,0.805463,45.543104,2013.0
2014,53637.546186,40327.753083,1013.500000,399.831976,30868.900030,61062.548761,57193.650000,22748.260000,29384.420000,62852.490000,-22768.650000,-6636.160000,-29404.810000,0.878403,0.660434,0.765451,46.751402,2014.0
2015,50599.003301,45698.120531,962.130000,410.389064,33709.426164,61390.815102,57576.739831,22926.252594,32289.822284,64835.365900,-16889.577137,-9363.569690,-26253.146827,0.824211,0.744380,0.737655,49.802792,2015.0
2016,48789.057923,47872.067568,966.370000,427.489379,34855.777900,60395.442105,56591.774325,24304.982078,35078.421118,66030.855459,-13933.280023,-10773.439040,-24706.719063,0.807827,0.792644,0.728103,53.124287,2016.0
2017,53173.285079,47049.287918,835.680663,418.956880,38318.841374,60244.273373,56414.630305,23127.446421,34573.224940,67314.295540,-14854.443705,-11445.778519,-26300.222224,0.882628,0.780975,0.814440,51.360895,2017.0
2018,52429.500956,51245.537231,876.284475,375.147197,44614.896957,58683.515407,54853.013384,22218.748545,35233.697029,66488.036386,-7814.603998,-13014.948484,-20829.552483,0.893428,0.873253,0.870610,52.992537,2018.0

In [34]:
Uk_crude_volume = oil_volume[["Imports", "Total Indeginous production"]]
Uk_crude_volume = Uk_crude_volume.loc[[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]]
Uk_crude_volume["Totat Crude Production"] = Uk_crude_volume.sum(axis=1)
Uk_crude_volume

           Imports  Total Indeginous production  Totat Crude Production
Year
2008  60334.860264                 71788.836080           132123.696344
2009  55002.260848                 68198.546716           123200.807564
2010  55064.002099                 62961.614280           118025.616379
2011  58092.299344                 51972.425352           110064.724696
2012  60475.714323                 44560.807430           105036.521754
2013  58966.737730                 41100.801028           100067.538759
2014  53637.546186                 40327.753083            93965.299270
2015  50599.003301                 45698.120531            96297.123832
2016  48789.057923                 47872.067568            96661.125491
2017  53173.285079                 47049.287918           100222.572997
2018  52429.500956                 51245.537231           103675.038186

In [35]:
UK_crude_volume= np.asarray(Uk_crude_volume['Totat Crude Production'])
Variables_df["UK crude oil volume (Thousand Tonnes)"] = UK_crude_volume
Variables_df

,Premium Unleaded,Diesel,totalEvCarSales,Disposable income,GBP/USD exchange rate,GDP per capita in ($),Government EV subsidy in (£),UK crude oil volume (Thousand Tonnes)
Year,,,,,,,,
2008,107,117,48.37,24271,1.85,47287.00,0,132123.696344
2009,99,103,62.81,22967,1.57,39435.84,0,123200.807564
2010,116,119,83.92,23471,1.55,42462.71,0,118025.616379
2011,133,138,105.18,23574,1.6,47417.64,5000,110064.724696
2012,135,141,129.65,23383,1.59,41074.17,5000,105036.521754
2013,134,140,160.03,23565,1.56,42943.90,5000,100067.538759
2014,127,133,204.54,24237,1.65,40361.42,5000,93965.299270
2015,111,114,269.92,24681,1.53,44966.10,5000,96297.123832
2016,108,110,352.26,24956,1.35,43444.56,4500,96661.125491
2017,117,120,460.19,25465,1.29,42038.50,4500,100222.572997
2018,125,129,592.20,25674,1.33,38713.14,3500,103675.038186

In [36]:
url = ("https://www.inflation.eu/inflation-rates/great-britain/historic-inflation/cpi-inflation-great-britain.aspx")
page = requests.get(url).text
soup = BeautifulSoup(page, "html.parser")

link = soup.find_all('table')
tables = link[14]
trs = tables.find_all('tr')
inflationRate = []

for index,i in enumerate(trs):
    tds = trs[index].find_all("td")
    infRate = (tds[len(tds)-1]).text
    infRate2 = (tds[1]).text
    inflationRate.append({'date': (tds[0]).text ,'value': literal_eval("'%s'" % infRate2)})
    inflationRate.append({'date': (tds[len(tds)-2]).text ,'value': literal_eval("'%s'" % infRate)})
print(inflationRate)

[{'date': '\xa0average inflation', 'value': 'inflation'}, {'date': 'average inflation', 'value': 'inflation\xa0'}, {'date': '\xa0CPI Great Britain 2020', 'value': '1.74\xa0%'}, {'date': 'CPI Great Britain 2010', 'value': '2.49\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2019', 'value': '1.74\xa0%'}, {'date': 'CPI Great Britain 2009', 'value': '1.97\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2018', 'value': '2.29\xa0%'}, {'date': 'CPI Great Britain 2008', 'value': '3.52\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2017', 'value': '2.56\xa0%'}, {'date': 'CPI Great Britain 2007', 'value': '2.39\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2016', 'value': '1.01\xa0%'}, {'date': 'CPI Great Britain 2006', 'value': '2.45\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2015', 'value': '0.37\xa0%'}, {'date': 'CPI Great Britain 2005', 'value': '2.02\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2014', 'value': '1.45\xa0%'}, {'date': 'CPI Great Britain 2004', 'value': '1.35\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2013', 'value': '2.29\xa0%'}, {'date': 'CPI Great Britain 2003', 'value': '1.38\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2012', 'value': '2.58\xa0%'}, {'date': 'CPI Great Britain 2002', 'value': '1.24\xa0%\xa0'}, {'date': '\xa0CPI Great Britain 2011', 'value': '3.85\xa0%'}, {'date': 'CPI Great Britain 2001', 'value': '1.24\xa0%\xa0'}]

In [37]:
CPI  = pd.DataFrame(inflationRate)
CPI = CPI.drop([0,1], axis=0)
CPI["date"] = CPI["date"].str.replace(r'\D+', '') 
CPI

    date    value
2   2020   1.74 %
3   2010  2.49 %
4   2019   1.74 %
5   2009  1.97 %
6   2018   2.29 %
7   2008  3.52 %
8   2017   2.56 %
9   2007  2.39 %
10  2016   1.01 %
11  2006  2.45 %
12  2015   0.37 %
13  2005  2.02 %
14  2014   1.45 %
15  2004  1.35 %
16  2013   2.29 %
17  2003  1.38 %
18  2012   2.58 %
19  2002  1.24 %
20  2011   3.85 %
21  2001  1.24 %

In [38]:
avg_infaltion_UK = CPI.drop([CPI.index[0], CPI.index[1], CPI.index[2], CPI.index[3], CPI.index[4], CPI.index[5], CPI.index[6], CPI.index[18], CPI.index[19]])
avg_infaltion_UK = avg_infaltion_UK.rename(columns={"date":"Year"}).set_index("Year")
avg_infaltion_UK

        value
Year
2007  2.39 %
2016   1.01 %
2006  2.45 %
2015   0.37 %
2005  2.02 %
2014   1.45 %
2004  1.35 %
2013   2.29 %
2003  1.38 %
2012   2.58 %
2002  1.24 %

In [39]:
inflation_rate = np.asarray(avg_infaltion_UK["value"])
Variables_df["UK average inflation rate"] = inflation_rate
Variables_df

,Premium Unleaded,Diesel,totalEvCarSales,Disposable income,GBP/USD exchange rate,GDP per capita in ($),Government EV subsidy in (£),UK crude oil volume (Thousand Tonnes),UK average inflation rate
Year,,,,,,,,,
2008,107,117,48.37,24271,1.85,47287.00,0,132123.696344,2.39 %
2009,99,103,62.81,22967,1.57,39435.84,0,123200.807564,1.01 %
2010,116,119,83.92,23471,1.55,42462.71,0,118025.616379,2.45 %
2011,133,138,105.18,23574,1.6,47417.64,5000,110064.724696,0.37 %
2012,135,141,129.65,23383,1.59,41074.17,5000,105036.521754,2.02 %
2013,134,140,160.03,23565,1.56,42943.90,5000,100067.538759,1.45 %
2014,127,133,204.54,24237,1.65,40361.42,5000,93965.299270,1.35 %
2015,111,114,269.92,24681,1.53,44966.10,5000,96297.123832,2.29 %
2016,108,110,352.26,24956,1.35,43444.56,4500,96661.125491,1.38 %
2017,117,120,460.19,25465,1.29,42038.50,4500,100222.572997,2.58 %
2018,125,129,592.20,25674,1.33,38713.14,3500,103675.038186,1.24 %

In [40]:
Variables_df["UK average inflation rate"] = Variables_df["UK average inflation rate"].map(lambda x: ''.join([i for i in x if i.isdigit()]))
Variables_df

,Premium Unleaded,Diesel,totalEvCarSales,Disposable income,GBP/USD exchange rate,GDP per capita in ($),Government EV subsidy in (£),UK crude oil volume (Thousand Tonnes),UK average inflation rate
Year,,,,,,,,,
2008,107,117,48.37,24271,1.85,47287.00,0,132123.696344,239
2009,99,103,62.81,22967,1.57,39435.84,0,123200.807564,101
2010,116,119,83.92,23471,1.55,42462.71,0,118025.616379,245
2011,133,138,105.18,23574,1.6,47417.64,5000,110064.724696,037
2012,135,141,129.65,23383,1.59,41074.17,5000,105036.521754,202
2013,134,140,160.03,23565,1.56,42943.90,5000,100067.538759,145
2014,127,133,204.54,24237,1.65,40361.42,5000,93965.299270,135
2015,111,114,269.92,24681,1.53,44966.10,5000,96297.123832,229
2016,108,110,352.26,24956,1.35,43444.56,4500,96661.125491,138
2017,117,120,460.19,25465,1.29,42038.50,4500,100222.572997,258
2018,125,129,592.20,25674,1.33,38713.14,3500,103675.038186,124

In [41]:
cols = list(Variables_df.columns)
a, b = cols.index('Premium Unleaded'), cols.index('totalEvCarSales')
cols[b], cols[a] = cols[a], cols[b]
Variables_df = Variables_df[cols]
Variables_df

,totalEvCarSales,Diesel,Premium Unleaded,Disposable income,GBP/USD exchange rate,GDP per capita in ($),Government EV subsidy in (£),UK crude oil volume (Thousand Tonnes),UK average inflation rate
Year,,,,,,,,,
2008,48.37,117,107,24271,1.85,47287.00,0,132123.696344,239
2009,62.81,103,99,22967,1.57,39435.84,0,123200.807564,101
2010,83.92,119,116,23471,1.55,42462.71,0,118025.616379,245
2011,105.18,138,133,23574,1.6,47417.64,5000,110064.724696,037
2012,129.65,141,135,23383,1.59,41074.17,5000,105036.521754,202
2013,160.03,140,134,23565,1.56,42943.90,5000,100067.538759,145
2014,204.54,133,127,24237,1.65,40361.42,5000,93965.299270,135
2015,269.92,114,111,24681,1.53,44966.10,5000,96297.123832,229
2016,352.26,110,108,24956,1.35,43444.56,4500,96661.125491,138
2017,460.19,120,117,25465,1.29,42038.50,4500,100222.572997,258
2018,592.20,129,125,25674,1.33,38713.14,3500,103675.038186,124

In [43]:
y = Variables_df["totalEvCarSales"]
x = Variables_df[[Variables_df.columns[-8:]]

reg_model = sm.OLS(y.astype(float), x.astype(float)) 
reg_model.df_model 
reg_model.fit().summary()

SyntaxError: invalid syntax (<ipython-input-43-f8494bd3a03a>, line 4)

In [ ]:
electricityPrices = pd.read_csv(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\electricityprices.csv")
electricityPrices['Year'] = electricityPrices['Month beginning'].str[-4:]
del electricityPrices['Month beginning']
electricityPrices = DataFrame({'Average Electricity Price': electricityPrices.groupby('Year')['Price'].mean().round(3)})
electricityPrices.index = electricityPrices.index.astype(int)
electricityPrices = electricityPrices.iloc[:-2]
electricityPrices

y = Variables_df["totalEvCarSales"]
x = Variables_df[["Diesel", "Premium Unleaded", "GDP per capita in ($)", "Government EV subsidy in (£)", "UK crude oil volume (Thousand Tonnes)", "UK average inflation rate", "Average Electricity Price"]]

reg_model = sm.OLS(y.astype(float), x.astype(float)) 
reg_model.df_model 
reg_model.fit().summary()

In [ ]:
busFares = pd.read_excel(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\busfares.xlsx")
busFares = busFares.drop(range(13))
busFares = busFares.iloc[:-1]
busFares = busFares[['Year','Great Britain']]
busFares = busFares.set_index('Year')
busFares.columns = ['Bus Fare Cost']
busFares

Variables_df = pd.concat([Variables_df, electricityPrices, busFares], axis=1)
Variables_df = Variables_df.fillna(0)
Variables_df

y = Variables_df["totalEvCarSales"]
x = Variables_df[["Diesel", "Premium Unleaded", "GDP per capita in ($)", "Government EV subsidy in (£)", "UK crude oil volume (Thousand Tonnes)", "UK average inflation rate", "Average Electricity Price", "Bus Fare Cost"]]

reg_model = sm.OLS(y.astype(float), x.astype(float)) 
reg_model.df_model 
reg_model.fit().summary()

In [ ]:
charger_data = {'Slow':[1325, 1611, 2126, 2448, 2228, 2451, 2743, 3293], 
        'Fast': [178,1193,3309,4734,5946,7143,8754,11459], 
        'Rapid':[34,79,284,844,1710,2153,2663,4025],
        'Ultra-rapid':[None,None,None,None,None,None,None,341]}
df = pd.DataFrame(charger_data, index=[2011,2012,2013,2014,2015,2016,2017,2018])
df["Sum"] = df.sum(axis=1).astype(int)
df

In [ ]:
Variables_df['Charging Connectors'] = df['Sum']
Variables_df['ULEZ Variable'] = 1
range_data = [None, 244, 84, 73, 118, 79, 81, 114, 128, 177, 190]
Variables_df['Range of Electric Vehicle (miles)'] = range_data

In [ ]:
electricityAvailable = pd.read_excel(r"C:\Users\Kiran\Documents\University\Economics Yr 3\My Courses\EC3310 Coding\GithubRepo\electricityavailable.xlsx")
electricityAvailable = electricityAvailable.set_index("Year") 
Variables_df = pd.concat([Variables_df, electricityPrices, busFares], axis=1)
Variables_df = Variables_df.fillna(0)
Variables_df = Variables_df.rename({'Electricity Available': 'Electricity Available (TWh)'}, axis=1).round(3)
Variables_df

In [ ]:
#Variables_df = sm.tools.tools.add_constant(Variables_df)
y = Variables_df["totalEvCarSales"] 
#x = Variables_df[["Diesel", "Premium Unleaded", "GDP per capita in ($)", "Government EV subsidy in (£)", "UK crude oil volume (Thousand Tonnes)", "UK average inflation rate", "Charging Connectors", "ULEZ Variable", "Average Electricity Price", "Bus Fare Cost"]]
x = Variables_df[Variables_df.columns[-10:]]
                 
reg_model = sm.OLS(y.astype(float), x.astype(float))
reg_model.df_model
reg_model.fit().summary()

In [ ]:
api = requests.get('https://api.ons.gov.uk/dataset/MM23/timeseries/CJXN/data')
 
newcars_dict = json.loads(api.content)
years = newcars_dict['years']
filtered = []
for year in years:
    if int(year['year']) > 2007:
        filtered.append(int(float(year['value'])))
newCars = np.asarray(filtered)
total['Price of New Cars'] = newCars
total

In [ ]:
url = ('https://www.ons.gov.uk/economy/grossdomesticproductgdp/timeseries/k8a5/bb')
page = requests.get(url).text
soup = BeautifulSoup(page, "html.parser")
rows = soup.find_all("table")[1].find('tbody').find_all('tr')

co_data = []
for row in rows:
    cells = row.find_all("td")
    years = int(cells[0].text)
    data = int(float(cells[1].text))
    co_data.append([years, data])

co_df = pd.DataFrame(co_data, columns=['Year', 'Carbon Monoxide (thousand tonnes)'])
co_df = co_df.drop(range(18))
co_df = co_df.set_index('Year')
total = pd.concat([total, co_df], axis=1)
total

In [ ]:
Final_data = total.join(Variables_df)
Final_data = Final_data.fillna(0)
Final_data

In [ ]:
cols = list(Final_data.columns)
a, b = cols.index('ULEZ Variable'), cols.index('UK average inflation rate')
cols[b], cols[a] = cols[a], cols[b]
Final_data = Final_data[cols]
Final_data = Final_data.drop(Final_data.tail(2).index)
Final_data

In [ ]:
Final_data.columns

In [ ]:
Final_data.describe()

In [ ]:
corrMatrix = Final_data.corr()
plt.subplots(figsize=(20,15))
sn.heatmap(corrMatrix, annot=True)

In [ ]:
y = Final_data["totalEvCarSales"]
x = Final_data[["Diesel", "Premium Unleaded", "GDP per capita in ($)", "Government EV subsidy in (£)", "UK crude oil volume (Thousand Tonnes)", "UK average inflation rate",
               'Average Electricity Price', 'Bus Fare Cost', 'Charging Connectors', 'Range of Electric Vehicle (miles)', 'Electricity Available (TWh)',
                'Price of New Cars', 'Carbon Monoxide (thousand tonnes)']]

reg_model = sm.OLS(y.astype(float), x.astype(float)) 
reg_model.df_model 
reg_model.fit().summary()